h1 {
    font-family: "Josefin Sans";
    font-size: 76px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: #073932;
}

p {
    color: #0E7264;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
#container {
    margin-top: 128px;
}
.mycontent-left {
    border-right: 1px dashed #333;
}
